@model List<BookingApiViewModel.Result>
@{
    Layout = null;
    int count = 0;
}


<a href="~/lib/bootstrap/dist/css/bootstrap.css.map">~/lib/bootstrap/dist/css/bootstrap.css.map</a>
<a href="~/lib/bootstrap/dist/css/bootstrap.min.css.map">~/lib/bootstrap/dist/css/bootstrap.min.css.map</a>
<a href="~/lib/bootstrap/dist/css/bootstrap.rtl.css.map">~/lib/bootstrap/dist/css/bootstrap.rtl.css.map</a>
<a href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map">~/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map</a>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <br />
    <br />

    @using (Html.BeginForm("Index", "BookingByCity", FormMethod.Post))
    {
        <label>ID </label>
        <input type="text" class="form-control" name="cityId" />
        <br />
        <button class="btn btn-outline-primary">Look Hotel for the city </button>
    }
    <br />
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Hotel Name </th>
            <th>Rating</th>
            <th>Hotel Details</th>

        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.name</td>
                <td>@item.reviewScore</td>
                <td><a href="#" class="btn btn-outline-info">Details</a></td>
            </tr>
        }

    </table>
</div>