@model List<BookingApiLocationSearchViewModel>
@{
    Layout = null;
}

<a href="~/lib/bootstrap/dist/css/bootstrap.css.map">~/lib/bootstrap/dist/css/bootstrap.css.map</a>
<a href="~/lib/bootstrap/dist/css/bootstrap.min.css.map">~/lib/bootstrap/dist/css/bootstrap.min.css.map</a>
<a href="~/lib/bootstrap/dist/css/bootstrap.rtl.css.map">~/lib/bootstrap/dist/css/bootstrap.rtl.css.map</a>
<a href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map">~/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map</a>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <br />
    <br />
    @using(Html.BeginForm("Index","SearchLocationID",FormMethod.Post))
    {
        <label>City Name</label>
        <input type="text" class="form-control" name="cityName"/>
        <br />
        <button class="btn btn-outline-primary">Look Id for the city </button>
    }
    <table class="table table-striped">
        <tr>
            <th>Lokasyon</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.dest_id</td>
 
            </tr>
        }

    </table>
    <br />
    <a href=/BookingByCity/Index/" class="btn btn-outline-info"> New Hotel Rezervation Info</a>
</div>